<div class="pb-5 sm:flex sm:items-center sm:justify-between max-w-3xl">
  <h3 class="text-base font-semibold leading-6 text-gray-900">
    {{ title }}
  </h3>
    {% include "@backend/system/resource/more/more.html.twig" %}
</div>


