{% set type = type is defined ? type : 'info' %}
{% set view = view is defined ? view : '@backend/system/resource/field/type/' ~ type ~ '/' ~ type ~ '.html.twig' %}
{% set sentry = sentry is defined ? sentry : 'backend.resource.' ~ resource ~ '.action.' ~ action ~ (entity is defined ? '.id.' ~ entity['id'] : '') ~ '.prop.' ~ name %}

{% if sentry(sentry) %}
    {% if list_header is defined and list_header %}
        <th
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 [&:first-child]:pl-0 [&:last-child]:pr-0"
        >
            {% if list_sort is defined and list_sort and sort is defined and sort %}
                {% set list_sort_link = null %}
                {% if order == name ~ ':asc' %}
                    {% set list_sort_link = backend().alterCurrentUrl({'page': '0', 'order': name ~ ':desc'}) %}
                {% elseif order == name ~ ':desc' %}
                    {% set list_sort_link = backend().alterCurrentUrl({'page': '0', 'order': name ~ ':asc'}) %}
                {% else %}
                    {% set list_sort_link = backend().alterCurrentUrl({'page': '0', 'order': name ~ ':' ~ (sort_dir is defined ? sort_dir : 'asc') }) %}
                {% endif %}

                {% if order == name ~ ':asc' %}
                    {% set list_sort_dir = 'asc' %}
                {% elseif order == name ~ ':desc' %}
                    {% set list_sort_dir = 'desc' %}
                {% else %}
                    {% set list_sort_dir = null %}
                {% endif %}
            {% endif %}

            {% if list_sort_link is defined and list_sort_link %}
                <a href="{{ list_sort_link }}">
            {% endif %}

            {% if label is defined %}
                {{ label }}
            {% else %}
                {{ name|t }}
            {% endif %}

            {% if list_sort_dir is defined and list_sort_dir %}
                {% if list_sort_dir == 'asc' %}
                    &uarr;
                {% else %}
                    &darr;
                {% endif %}
            {% endif %}

            {% if list_sort_link is defined and list_sort_link %}
                </a>
            {% endif %}
    </th>
    {% elseif action == 'list' %}
        <td
            class="whitespace-nowrap px-3 py-3.5 text-sm text-gray-900 [&:first-child]:pl-0 [&:last-child]:pr-0"
        >
            {% set more_url = null %}
            {% if more is defined and list_link|default(null)|any %}
                {% set more = more == true ? 'detail' : more %}
                {% for item in backend().pilot().__call(resource).more(action, value) %}
                    {% if item.action == more and sentry(item.sentry) %}
                        {% set more_url = item.url %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if more_url is defined and more_url %}
                <a href="{{ more_url }}">
            {% endif %}

            {% include view %}

            {% if more_url is defined and more_url %}
                </a>
            {% endif %}
        </td>
    {% else %}
        {% include view %}
    {% endif %}
{% endif %}
