<form method="POST" enctype="multipart/form-data" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrf() }}" />
    <div resterrors-target></div>
    <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
