{% set flashes = backend_flash() %}
{% if flashes|any %}
    {% for flash in flashes %}
        {% set type = flash.type %}
        <div
            class="
                alert alert-dismissible fade show
                {% if type == 'error' %}
                    alert-danger
                {% elseif type == 'ok' %}
                    alert-success
                {% elseif type == 'warning' %}
                    alert-warning
                {% else %}
                    alert-danger
                {% endif %}

            "
            role="alert"
        >
            {{ flash.msg|t }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
